/* Converter container setup */
#converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px;
    margin-top: 60px;
}

.currency-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    width: 98%;
    max-width: 830px;
    background: #2c332a;
    border-radius: 8px;
    padding: 21px;
    position: relative;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

/* Styling for dragging state */
.dragging {
    z-index: 1000;
    cursor: grabbing;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Placeholder style */
.placeholder {
    background-color: #eee;
    opacity: 0.5;
}

.currency-container.dragging, .placeholder {
    transition: none;
}

/* Base class for input highlight */
.highlight-red {
    background-color: red;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Neon glow animation */
.highlight-red-neon {
    border-radius: 8px; /* Ensure the glow effect also has rounded corners */
    animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    0% {
        background-color: red;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6), 0 0 30px rgba(255, 0, 0, 0.4), 0 0 40px rgba(255, 0, 0, 0.2);
    }
    50% {
        background-color: red;
        box-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 0 30px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.6), 0 0 50px rgba(255, 0, 0, 0.4);
    }
    100% {
        background-color: transparent;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0), 0 0 20px rgba(255, 0, 0, 0);
    }
}

.currency-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 1.3em;
    font-family: "Roboto Mono", monospace;
    border: none;
    background: none;
    color: #f2a900;
    text-align: right;
    outline: none;
    overflow: hidden;
    margin-right: 3px;
    min-width: 60px;
    max-width: 100%;
    border-radius: 8px; /* Round the corners of the input */
    transition: all 0.2s ease-in-out; /* Smooth transition for background and shadow */
    box-sizing: border-box;
}

.currency-symbol {
    padding: 5px;
    font-size: 16px;
    color: #f2a900;
    background: transparent;
    min-width: 30px;
    text-align: left;
}

.drag-handle {
    cursor: grab;
    padding: 10px;
    background-color: transparent;
    border-radius: 3px;
    font-size: 18px;
    align-self: center;
    flex-shrink: 0;
    margin-left: auto;
}

/* Plus button icon */
.add-currency-icon {
    position: fixed;
    top: 23px;
    right: 20px;
    background-color: #5c735100;
    color: #888;
    cursor: pointer;
    font-size: 43px;
    font-weight: bolder;
    transition: background-color 0.3s ease;
}

.add-currency-icon:hover {
    color: #fefffe;
}

/* Placeholder text color */
.currency-input::placeholder {
    color: transparent;
}

/* Currency item styles */
.currency-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #2d2c2c; /* Background color for currency item */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor to indicate clickability */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.currency-item:hover {
    background-color: #f2a900; /* Highlight background color on hover */
    color: #000; /* Text color on hover for better visibility */
}

.description-modal a {
    color: #c5ba9e; /* Brighter color for better visibility */
    text-decoration: underline; /* Optional: Underline to indicate a link */
}

.description-modal a:hover {
    color: #f2a900; /* Even brighter on hover for emphasis */
}

#toggle-btn-space {
    font-family: monospace, Courier, "Courier New";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }

  #toggle-btn-box {
    position: sticky;
    top: 33px;
    left: 50%;
    transform: translateX(-0%);
    width: 52px;
    margin: 0;
  }
  
  #toggle-button {
    width: 16px;
    height: 33px;
    background-color: #2d2c2c;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  
  #toggle-button:before {
    content: "";
    position: absolute;
    top: 18px;
    bottom: 2px;
    left: 2px;
    width: 12px;
    opacity: 1;
    background-color: #bcbcbc;
    border-radius: 100px;
    transition: 0.3s linear all;
  }
  
  #toggle-button.moveup:before {
    top: 2px;
    bottom: 18px;
    background-color: #f2a900;
    animation: moveup-1 0.3s linear forwards, moveup-2 0.3s linear 0.6s forwards,
      blink 1s ease-in-out 0.9s infinite;
  }
  
  #toggle-button.movedown:before {
    top: 18px;
    bottom: 2px;
    background-color: #bcbcbc;
    animation: movedown-1 0.3s linear 0s forwards,
      movedown-2 0.3s linear 0.6s forwards;
  }
  
  @keyframes moveup-1 {
    0% { top: 18px; }
    100% { top: 2px; }
  }
  
  @keyframes moveup-2 {
    0% { bottom: 2px; }
    100% { bottom: 18px; }
  }
  
  @keyframes movedown-1 {
    0% { bottom: 18px; }
    100% { bottom: 2px; }
  }
  
  @keyframes movedown-2 {
    0% { top: 2px; }
    100% { top: 18px; }
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  #live-data {
    position: fixed;
    top: 50%;
    right: -90px;
    width: 120px;
    margin-top: -44px;
  }
  
  .live-data-text {
    color: #88888856;
    font-size: 10px;
    line-height: 1;
    margin-top: 70px;
    margin: 0;
    transition: 0.3s ease color;
    cursor: pointer;
    visibility: hidden;
  }
  
  .live-data-text.active {
    visibility: visible;
    color: #ffffff7e;
  }
  
  #active-text {
    font-size: 10px;
    margin-top: 13px;
    margin-left: -50px;
  }

  #stop-text {
    margin-top: 40px;
    margin-left: -74px;
  }
  
  #active-text.lspace {
    letter-spacing: 2px;
  }