
/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');

body {
	background-color: #4d4d4e;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin: 0;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 50%;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	/* filter: url(#threshold) blur(0.6px); */
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: inline-block;
	color: #f2a900;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 150px;
	
	text-align: center;
	
	user-select: none;
}


/* Burger menu */

/* Important styles */
#toggle {
	position: absolute;
    top: 1rem;
    left: 1.5rem;
	display: block;
	width: 28px;
	height: 30px;
	margin: 30px auto 10px;
	z-index: 2000; /* Increase z-index to be on top of all content */
	}

#toggle span:after,
#toggle span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
	}
#toggle span:after{
	top: 9px;
	}
#toggle span {
	position: relative;
	display: block;
	}

#toggle span,
#toggle span:after,
#toggle span:before {
	width: 100%;
	height: 5px;
	background-color: #888;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
	}

	/* on activation */
#toggle.on span {
	background-color: transparent;
	}
#toggle.on span:before {
	transform: rotate(45deg) translate(5px, 5px);
	}
#toggle.on span:after {
	transform: rotate(-45deg) translate(7px, -8px);
	}
#toggle.on + #menu {
	opacity: 1;
	visibility: visible;
	}

	/* menu appearance*/
#menu {
	position: absolute;
    top: 4.9rem;
	left: 1.3rem;
	color: #333131;
	width: 200px;
	padding: 10px;
	margin: auto;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	border-radius: 4px;
	background: rgb(34, 33, 33);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
	/* just for this demo */
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s;
	z-index: 2000; /* Increase z-index to be on top of all content */
	}
#menu:after {
	position: absolute;
	top: -0.5rem;
	left: 0.45rem;
	content: "";
	display: block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid rgb(59, 52, 30);
	z-index: 2000; /* Increase z-index to be on top of all content */
	}
ul, li, li a {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	}
li a {
	padding: 5px;
	color: #888;
	text-decoration: none;
	transition: all .2s;
	}
li a:hover,
li a:focus {
	background: #f2a900;
	color: #fff;
}



/* quotes */
p, #text {
	color: #c5ba9e;
	line-height: 1.4em;
}

#quotes{
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    text-align: center;
	font-size: 1em;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;

}

/* copy text on clipboard */

.copy-notification {
    position: fixed; /* Fixed position to stay at the top */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Stretch across the full width */
    padding: 10px; /* Padding for aesthetics */
    background-color: #f2a900; /* Semi-transparent background with your chosen color */
    border-radius: 0; /* No border radius for a full-width banner */
    text-align: center; /* Center the text inside the notification */
    color: #4d4d4e; /* White text color */
    display: none; /* Initially hidden */
    z-index: 1500; /* High enough z-index to overlay other content */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
	#quotes {
		font-size: 0.7em;
	}

	.element {
		font-size: 0.7em;
	}

}

/* Footer styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(34, 33, 33);
    color: #c5ba9e;
    text-align: center;
    padding: 7px 0;
    font-family: "Roboto Mono", monospace;
	font-size: 0.6em;
    z-index: 2000; /* Make sure it's above other content */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

.footer a {
    color: #c5ba9e;
    text-decoration: none;
    margin-right: 15px;
}

.footer img.ico {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle; /* Aligns the image with the text */
}

/* Lightning icon styling */
.footer i.lni.lni-bolt-2 {
    color: #f2a900;
    cursor:pointer;
	margin-top: -20px;
	vertical-align: sub;
    font-size: 15px;
    margin-left: -10px;
}

.footer #fee-rate {
	font-size: 1em;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

.footer #block-height {
	font-size: 1em;
	position: absolute;
	left: 10px;
	cursor: pointer;
}

/* Styles for modals */
.description-modal, #uploadModal, #infoModal, #qrCodeModal #cookieConsentModal #mempoolTinyDataModal {
    display: none;
    position: fixed;
    word-break: keep-all;
    overflow-wrap: break-word;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: rgb(34, 33, 33);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure modal is above everything */
	overflow: hidden;
    justify-content: center; /* Center modal content */
    align-items: center; /* Align content vertically */
}

/* Apply responsive styles to modal content */
.modal-content {
    max-width: 100%; /* Ensure content does not exceed modal width */
	max-height: 80vh; /* Maximum height to ensure it doesn't go out of view */
	overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    word-break: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break words at appropriate points */
    width: 100%;
    box-sizing: border-box; /* Include padding and borders in width calculation */
	font-family: "Roboto Mono", monospace;
}

.description-modal.active, #uploadModal.active, #infoModal.active, #qrCodeModal.active #cookieConsentModal.active #mempoolTinyDataModal.active {
    display: flex; /* Use flex to center content */
}

.description-modal a {
    color: #c5ba9e; /* Brighter color for better visibility */
    text-decoration: underline; /* Optional: Underline to indicate a link */
}

.description-modal a:hover {
    color: #f2a900; /* Even brighter on hover for emphasis */
}

/* Close icon for modal */
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff; /* Make sure the close icon is visible */
    background: none;
    border: none;
    font-weight: bold;
    z-index: 1001; /* Higher than the modal content */
}

/* Hover effect for close icon */
.close-icon:hover {
    color: #f9af02; /* A brighter color on hover */
}

#gratitudeHeader {
    display: flex;
	text-align: center;
	font-size: 0.8em;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically if needed */
    max-width: 50%;
    margin: 0 auto; /* Centers the flex container in the middle of the parent element */
}


.qr-code-container {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around; /* Space QR codes evenly */
    margin-top: 20px; /* Add some spacing above QR codes */
}

.qr-code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
}

.qr-code {
    width: 150px; /* Set a fixed width for the QR code images */
    height: 150px; /* Set a fixed height for the QR code images */
    margin-bottom: 10px; /* Add some space below the QR code image */
}

.qr-code-text {
    font-size: 0.5em;
	max-width: 40%;
    color: #fff;
    margin-top: 5px; /* Add some spacing above the text */
    text-align: center; /* Center align the text */
}

/* Container for the consent buttons */
.consent-button-container {
    display: flex; /* Enable Flexbox layout */
    justify-content: center; /* Center items horizontally */
    gap: 40px; /* Set gap between the buttons */
    margin-top: 20px; /* Optional: Add some margin above the button row */
}

/* Styles for icon-only buttons */
.consent-icon-button {
    background-color: transparent; /* No background */
    border: none; /* Remove border */
    font-size: 2rem; /* Make icons larger */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: transform 0.2s ease; /* Smooth transform effect */
}

.consent-icon-button:focus {
    outline: none; /* Remove default focus outline */
}

.consent-icon-button:hover {
    transform: scale(1.2); /* Slightly enlarge the button on hover */
}

.green-check {
    color: green; /* Green color for checkmark */
}

.red-cross {
    color: red; /* Red color for cross */
}

#mempoolTinyDataModal .avg-fee-rate,
#mempoolTinyDataModal .fee-range,
#mempoolTinyDataModal .total-fees-btc,
#mempoolTinyDataModal .total-fees-sats,
#mempoolTinyDataModal .tx-count,
#mempoolTinyDataModal .time-passed,
#mempoolTinyDataModal .mined-by {
    margin-bottom: 5px;
    font-size: 1em;
}

.modal-title {
	position: relative;
	text-align: center;
}

#mempoolTinyDataModal .modal-navigation {
    display: flex;
    justify-content: space-between;
	padding: 0px 30px 0px 30px ;
    align-items: center;
    margin-bottom: 15px;
}

.modal-navigation h2 {
	color: #f2a900;
}

#mempoolTinyDataModal .left-arrow,
#mempoolTinyDataModal .right-arrow {
    position: relative;
	cursor: pointer;
    color: #d89c05;
    font-size: 1.9em;
    opacity: 0.7;
	margin-top: -10px;
    transition: opacity 0.3s;
}

#mempoolTinyDataModal .left-arrow:hover,
#mempoolTinyDataModal .right-arrow:hover {
    opacity: 1;
}

/* Styling for modal sections */
#mem-poolTinyDataModal .block-data,
#mem-poolTinyDataModal .fee-data {
    display: none; /* Hidden by default, shown conditionally */
}