/* Explanation in JS tab */

/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');

body {
	background-color: rgb(17, 17, 17);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	margin: 0;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 50%;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	/* filter: url(#threshold) blur(0.6px); */
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: inline-block;
	color: #f2a900;
	font-family: 'East Sea Dokdo', cursive;
	font-size: 150px;
	
	text-align: center;
	
	user-select: none;
}



/* Burger menu */

/* Important styles */
#toggle {
	position: absolute;
    top: 1rem;
    left: 1.5rem;
	display: block;
	width: 28px;
	height: 30px;
	margin: 30px auto 10px;
	}

#toggle span:after,
#toggle span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
	}
#toggle span:after{
	top: 9px;
	}
#toggle span {
	position: relative;
	display: block;
	}

#toggle span,
#toggle span:after,
#toggle span:before {
	width: 100%;
	height: 5px;
	background-color: #888;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
	}

	/* on activation */
#toggle.on span {
	background-color: transparent;
	}
#toggle.on span:before {
	transform: rotate(45deg) translate(5px, 5px);
	}
#toggle.on span:after {
	transform: rotate(-45deg) translate(7px, -8px);
	}
#toggle.on + #menu {
	opacity: 1;
	visibility: visible;
	}

	/* menu appearance*/
#menu {
	position: absolute;
    top: 4.9rem;
	left: 1.3rem;
	color: #333131;
	width: 200px;
	padding: 10px;
	margin: auto;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	border-radius: 4px;
	background: rgb(34, 33, 33);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
	/* just for this demo */
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s;
	}
#menu:after {
	position: absolute;
	top: -0.5rem;
	left: 0.45rem;
	content: "";
	display: block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid rgb(59, 52, 30);
	}
ul, li, li a {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	}
li a {
	padding: 5px;
	color: #888;
	text-decoration: none;
	transition: all .2s;
	}
li a:hover,
li a:focus {
	background: #f2a900;
	color: #fff;
}

.ico{
	margin-bottom:40px;
	width: 2.5rem;
	height: 2.5rem;
}


/* footer */

.element {
	position: absolute;
	text-align: center;
	color: hsla(42, 100%, 47%, 0.13) ;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, 50%);
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.hover-text {
	display: none;
	}
.element:hover .hover-text {
	position:relative;
	display:block;
	margin-top: 10px;
	text-align: center;
	text-align-last:center;
	}

.element:hover .hover-text i{
	color: hsla(42, 100%, 47%, 0.356);
	font-size: 1.8em;
	margin-inline: 5px;
	
}
.element:hover .hover-text a :hover{
	color: hsl(42, 100%, 47%);
}

/* quotes */
p, #text {
	color: #ddc17eab;
	line-height: 1.4em;
}
#quotes{
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    text-align: center;
	font-size: 1em;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;

}

/* copy text on clipboard */

.copy-notification {
    position: sticky;
	color: rgb(255, 255, 255);
    bottom: 20%;
    padding-left: 20%;
	padding-right: 20%;
    padding: 10px;
    background-color: rgba(109, 98, 110, 0.342);
    border-radius: 5px;
	text-align: center;
    display: none;

}


