/* Main styles for fixed layout */
body.fixed-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent horizontal scrolling */
}

/* Add this to blur background when modal is open */
body.modal-open {
    overflow: hidden; /* Prevent scrolling */
}

/* Make the container flex to occupy space between fixed header and footer */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

/* Ensure content area is scrollable within its container */
.content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Ensure no horizontal scrolling */
html, body {
    overflow-x: hidden;
}

#header {
    display: flex;
	text-align: center;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically if needed */
    max-width: 50%;
    margin: 0 auto; /* Centers the flex container in the middle of the parent element */
    color: #c5ba9e;
    max-width: 70%;
    font-size: 1.5em;
    margin-top: 3%;
    text-align: center;
    padding-bottom: 20px;
    font-family: "Roboto Mono", monospace;
}

/* Style for the image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
    align-items: start;
    position: relative; /* Ensure container remains positioned */
    z-index: 1; /* Ensure this layer is below expanded translator info */
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 10; /* Default positioning */
}

.image-box {
    width: 100%;
    height: 90px;
    overflow: hidden;
    position: relative;
}

.image-box img {
    width: 70%;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.image-box:hover img {
    opacity: 1;
}

/* Language text styling */
.lang-name {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    width: 75%;
    height: auto;
    font-size: 0.6em;
    position: relative;
    word-break:keep-all;
    color: white;
    background: #313131e6;
    padding: 0px 5px 0px 5px;
    z-index: 10; /* Normal stacking order */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.translator-info {
    display: none;
    font-size: 1em;
    color: #c5ba9e;
    position: absolute; /* Position absolute to expand over lower items */
    top: 100%; /* Start right below the lang-name */
    left: 0;
    width: 100%; /* Make it the same width as lang-name */
    background: #272727fa;
    padding: 5px; /* Same padding as lang-name */
    z-index: 100; /* Ensure it is above other items */
    pointer-events: auto; /* Allows interaction with the expanded info */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Reset styles for links inside translator-info */
.translator-info a {
    color: inherit; /* Inherit the color from the parent */
    text-decoration: none; /* Remove underline */
    font-size: inherit; /* Inherit font size */
    font-weight: normal; /* Reset to normal weight */
    background: none; /* Remove any background */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    cursor: default; /* Change cursor to default */
}

.translator-info a:hover {
    color: #f2a900;
}

/* Style for the upload image to make it circular */
.custom-size-image {
    width: 100%; /* Ensure it fits within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the circle area */
}

#instructions-modal li {
    color: #c5ba9e;

}

